.preview-carousel {
  aspect-ratio: 48/25;

  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }

  .carousel-inner {
    height: 70vw;
  }

  .carousel-item {
    height: 100%;
  }

  .carousel-item img {
    height: 100%;
  }

  .carousel-indicators {
    gap: 4vw;
    transform: translateY(100%);
    bottom: -15%;

    li {
      border-radius: 100px;
      aspect-ratio: 1/1;
      width: 2vw;
      border: white 1px solid;

      &.active {
        background: white;
      }
    }
  }

  .carousel-inner {
    -webkit-clip-path: url(#previewCarouselClipPath);
    clip-path: url(#previewCarouselClipPath);
  }
}
